---
apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
    # Access ArgoCD API server on a MacOS / Windows workstation easily
    extraPortMappings:
      - containerPort: 30123
        hostPort: 8080
        listenAddress: "0.0.0.0"
        protocol: TCP
