name: Acceptance Tests
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  acceptance_tests:
    name: Acceptance Tests
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Kind
        run: GO111MODULE=on go get sigs.k8s.io/kind

      - name: Set up ArgoCD 1.5.0
        run: |
          sh scripts/testacc_prepare_env.sh
          kubectl port-forward -n argocd service/argocd-server --address 127.0.0.1 8080:443&
          until $(nc -z 127.0.0.1 8080); do sleep 2;done
          netstat -tulpn

      - name: Run acceptance tests
        run: sh scripts/testacc.sh
