---
name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  acceptance_tests:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        argocd_version: ["v2.2.5", "v2.1.10"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go
      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Kustomize
        run: |
          curl -sL "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          chmod +x ./kustomize

      - name: Install Kind 0.11.1
        run: |
          curl -sLo ./kind https://kind.sigs.k8s.io/dl/v0.11.1/kind-$(uname)-amd64
          chmod +x ./kind

      - name: Set up ArgoCD ${{ matrix.argocd_version }}
        env:
          ARGOCD_VERSION: ${{ matrix.argocd_version }}
          ARGOCD_CI: true
        run: |
          sh scripts/testacc_prepare_env.sh
          until $(nc -z 127.0.0.1 8080); do sleep 2;done
          netstat -tulpn

      - name: Run acceptance tests
        run: sh scripts/testacc.sh
